<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Job: ' + job.getName()}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
  <p th:text="${'ID: ' + job.getId()}"></p>
  <p th:text="${'Name: ' + job.getName()}"></p>
  <p>
    Employer: <a th:href="@{'/employers/view/' + ${job.employer.getId()}}" th:text="${job.employer.getName()}"></a>
  </p>
  <p> Skills:
  <ul>
    <li th:each="skill : ${job.getSkills()}">
      <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.getName()}"></a>
    </li>
  </ul>
  </p>
</div>


</body>
</html>